{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
                <!-- {% for hotel in hotels %}
                  <option value = "{{hotel.name}}">{{hotel.name}}</option>
                {% endfor %} -->
            </select>
            <button id="hotel-add-button" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
              <!-- {% for restaurant in restaurants %}
                <option value = "{{restaurant.name}}">{{restaurant.name}}</option>
              {% endfor %} -->
            </select>
            <button id="restaurant-add-button" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
              <!-- {% for activity in activities %}
                <option value = "{{activity.name}}">{{activity.name}}</option>
              {% endfor %} -->
            </select>
            <button id="activity-add-button" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 1</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn current-day">1</button>
            <button class="btn btn-circle day-btn">2</button>
            <button class="btn btn-circle day-btn">3</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul id="my-hotel-list" class="list-group">
              <!--<div class="itinerary-item">
                <span class="title">Andaz Wall Street</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>-->
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul id="my-restaurant-list" class="list-group">
              <!--<div class="itinerary-item">
                <span class="title">Bouley</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>-->
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul id="my-activity-list" class="list-group">
              <!--<div class="itinerary-item">
                <span class="title">Mahayana Buddhist Temple Association</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var hotelsDump = {{ hotels | dump | safe }};
  var restaurantsDump = {{ restaurants | dump | safe }};
  var activitiesDump = {{ activities | dump | safe }};
  console.log(hotelsDump);
  //now we have an array of hotel objects called hotels, and the same for restaurants and activities (available on the front end!)

  for(var i = 0; i < hotelsDump.length; i++) {
    var hotel = hotelsDump[i];
    var elementToInsert = '<option value = "' + hotel.name + '" data-lat=' + hotel.place.location[0] + ' data-long=' + hotel.place.location[1] + '>' + hotel.name + '</option>';
    $("#hotel-choices").append(elementToInsert);

  }

  for(var i = 0; i < restaurantsDump.length; i++) {
    var restaurant = restaurantsDump[i];
    var elementToInsert = '<option value = "' + restaurant.name + '" data-lat=' + restaurant.place.location[0] + ' data-long=' + restaurant.place.location[1] + '>' + restaurant.name + '</option>';
    $("#restaurant-choices").append(elementToInsert);

  }

  for(var i = 0; i < activitiesDump.length; i++) {
    var activity = activitiesDump[i];
    var elementToInsert = '<option value = "' + activity.name + '" data-lat=' + activity.place.location[0] + ' data-long=' + activity.place.location[1] + '>' + activity.name + '</option>';
    $("#activity-choices").append(elementToInsert);

  }

  //moving slelected hotel to day list and updaing map: 
  $('#hotel-add-button').on('click', function() {
    var selectedHotelName = $('#hotel-choices').find(":selected").text();
    var selectedHotelLat = $('#hotel-choices').find(":selected").data("lat");
    var selectedHotelLong = $('#hotel-choices').find(":selected").data("long");
    //console.log(selectedHotelLat, ",", selectedHotelLong);
    var elementToInsert = '<div class="itinerary-item"><span class="title">' + selectedHotelName + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>';
    $("#my-hotel-list").append(elementToInsert);
    drawMarker('hotel', [selectedHotelLat, selectedHotelLong]);
  });

  $('#restaurant-add-button').on('click', function() {
    var selectedRestaurantName = $('#restaurant-choices').find(":selected").text();
    var selectedRestaurantLat = $('#restaurant-choices').find(":selected").data("lat");
    var selectedRestaurantLong = $('#restaurant-choices').find(":selected").data("long");
    //console.log(selectedrestaurantLat, ",", selectedrestaurantLong);
    var elementToInsert = '<div class="itinerary-item"><span class="title">' + selectedRestaurantName + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>';
    $("#my-restaurant-list").append(elementToInsert);
    drawMarker('restaurant', [selectedRestaurantLat, selectedRestaurantLong]);
  });


  $('#activity-add-button').on('click', function() {
    var selectedActivityName = $('#activity-choices').find(":selected").text();
    var selectedActivityLat = $('#activity-choices').find(":selected").data("lat");
    var selectedActivityLong = $('#activity-choices').find(":selected").data("long");
    //console.log(selectedactivityLat, ",", selectedactivityLong);
    var elementToInsert = '<div class="itinerary-item"><span class="title">' + selectedActivityName + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>';
    $("#my-activity-list").append(elementToInsert);
    drawMarker('activity', [selectedActivityLat, selectedActivityLong]);
  });


</script>
{% endblock %}
